@charset "UTF-8";
@import "reset.css";
@import "cores.css";

@font-face {
    font-family: dragon;
    src: url(fonts/dragon/Dragon\ Ball.ttf) format('truetype');

}

body {
    color: aliceblue;
    font-family: dragon;
    background-color: rgb(22, 20, 20);
}
h1,p{
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(163, 5, 5);
}